.loginPage{
    background-image: url("./backroundimage.jpg");
    background-repeat: no-repeat;
    background-position: center;
  background-size: 100% 100%;

   
}
Form{
    background-color: rgba(255, 255, 255, 1);
    color:black;
    height: 75%;
    width: 35%;
    padding:50px;
}

@media (max-width:480px) {
    
    Form{
        height: 75%;
        width: 70%;
        padding:10px;
        background-color: rgba(255, 255, 255, 0.8);
    }   
    img{
       display: none;
      
     
    }
}
 @media (min-width:481px) and (max-width:1024px) {
    Form{
        height: 75%;
        width: 50%;
        padding:15px;
    }
    
}
/* @media (min-width:1025px)and(max-width:1280px){
    Form{
        height: 75%;
        width: 50%;
        padding:0px;
        
    }
}  */
